@font-face {
    font-family: "Monopix";
    src: url(/fonts/monopix.otf) format("opentype");
}
@font-face {
    font-family: "Segris 16";
    src: url(/fonts/segris-16.otf) format("opentype");
    size-adjust: 72%;
}

:root {
    --bg-l: #fff;
    --bg-d: #000;
    --text-l: #000;
    --text-d: #fff;
    --ui-l: #bbb;
    --ui-d: #555;
    --grad-l: #0008;
    --grad-d: #fff6;
    --list-zebra-l: #0001;
    --list-zebra-d: #ccc2;
    --visDivider-l: #0002;
    --visDivider-d: #fff2;
    --visDay-l: #ff8;
    --visDay-d: #661;
    --visNight-l: #88f;
    --visNight-d: #004;
    --displayTime-bg-l: 0.075;
    --displayTime-bg-d: 0.125;

    --bg: var(--bg-l);
    --text: var(--text-l);
    --ui: var(--ui-l);
    --grad: var(--grad-l);
    --list-zebra: var(--list-zebra-l);
    --visDivider: var(--visDivider-l);
    --visDay: var(--visDay-l);
    --visNight: var(--visNight-l);
    --displayTime-bg: var(--displayTime-bg-l);

    --transition: cubic-bezier(0.19, 1, 0.22, 1);
    --transition-dur: 500ms;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Monopix";
    font-size: 20px;
    transition: var(--transition) var(--transition-dur);
}
img {
    image-rendering: pixelated;
    &.icon {
        height: 16px;
        translate: 0 2px;
    }
}

small {
    opacity: 0.4;
}
a {
    color: var(--text);
    text-decoration: 1px dashed underline;
    transition: var(--transition) var(--transition-dur);
}

.center {
    max-width: 1000px;
    margin: 0 auto;
}

.displayTime {
    font-family: "Segris 16";
    &.large {
        font-size: 80px;
    }
    &.medium {
        font-size: 50px;
    }
    &.hhmm {
        &::before {
            content: "??:??";
            position: absolute;
            color: var(--list-zebra);
        }
    }
    &.ss {
        &::before {
            content: ":??";
            position: absolute;
            color: var(--list-zebra);
        }
    }
    &.sspp {
        &::before {
            content: ":?? ??";
            position: absolute;
            color: var(--list-zebra);
        }
    }
}

table {
    border-collapse: collapse;
}
td {
    vertical-align: middle;
}
input, button, .notification {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Monopix;
    border-radius: 10px;
    color: var(--text);
    position: relative;
    background: var(--bg);
    transition: var(--transition) var(--transition-dur);
}
input {
    width: 250px;
    border: 1px solid var(--ui);
    z-index: 2;
    &::placeholder {
        color: var(--ui);
    }
}
button {
    padding: 5px 15px;
    border: 1px dashed var(--ui);
    box-shadow: inset 0 0 0 var(--ui), 0 0 0 var(--ui);
    z-index: 1;
    cursor: pointer;
    transition: var(--transition) var(--transition-dur), box-shadow var(--transition) 120ms;
    &:hover {
        box-shadow: inset 0 0 0 var(--ui), 0 0 10px var(--ui);
    }
    &:active {
        box-shadow: inset 0 0 10px var(--ui), 0 0 0 var(--ui);
    }
}

.action {
    cursor: pointer;
    transition: var(--transition) var(--transition-dur);
}

#banner {
    background-color: var(--list-zebra);
    padding: 8px 15px 15px;
    border-radius: 10px;
    div {
        margin: 8px -10px -10px;
    }
    .bigClockContainer {
        background-color: var(--bg);
        transition: var(--transition) var(--transition-dur);
    }
    table {
        width: 100%;
        overflow: hidden;
        td {
            border-radius: 5px;
            padding: 15px 15px 10px;
        }
    }
}

.unselected {
    opacity: 0.5;
}

#clockContainer {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.clock {
    width: 100%;
    white-space: nowrap;
    transition: var(--transition) var(--transition-dur);
    &:nth-child(odd) {
        background-color: var(--list-zebra);
    }
    .listEnd {
        border-radius: 10px 0 0 10px;
        width: 10px
    }
    .clockEdit {
        transition: inherit;
        max-width: 0px;
        min-width: 0px;
        overflow: hidden;
        filter: opacity(0) blur(10px);
    }
    .clockCity {
        width: fit-content;
    }
    .clockOffset {
        width: fit-content;
        text-align: right;
        padding-left: 15px;
    }
    .clockTime {
        width: fit-content;
        padding-left: 5px;
        font-style: italic;
        text-align: center;
    }
    .clockAbbr {
        width: fit-content;
        padding-left: 5px;
    }
    .clockHourContainer {
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-width: 100%;
        padding: 0;
        mask-image: linear-gradient(90deg, #0000, #ffff 8.333%);
        &::before {
            content: " ";
            height: 100%;
            width: 8.333%;
            position: absolute;
            background: linear-gradient(90deg, #0000, var(--grad));
            border-right: 1px dashed var(--text);
            z-index: 2;
            backdrop-filter: blur(2px);
        }
    }
    .clockHours {
        width: 300%;
        table-layout: fixed;
        background-image: linear-gradient(90deg, var(--visNight), var(--visDay), var(--visNight), var(--visDay));
    }
    .clockHour {
        height: 35px;
        text-align: left;
        padding-left: 5px;
        overflow: hidden;
        max-width: 2.7778%;
        min-width: 2.7778%;
        &:not(:last-child) {
            border-right: 1px solid var(--visDivider);
        }
        &:nth-child(24n) {
            border-right-color: var(--visDay);
        }
        &:nth-child(24n-12) {
            border-right-color: var(--visNight);
        }
    }
}

#notificationContainer {
    display: inline-block;
    vertical-align: top;
}

.notification {
    border: 1px solid var(--ui);
    width: fit-content;
    opacity: 0;
    transition: var(--transition) var(--transition-dur);
    &:not(:first-child) {
        margin-top: 5px;
    }
    &.dangerNotification {
        background-color: #f003;
        border-color: #f00;
    }
    &.warningNotification {
        background-color: #ff02;
        border-color: #cc0;
    }
    &.successNotification {
        background-color: #0f03;
        border-color: #0c0;
    }
}